*, *:before, *:after {
  box-sizing: border-box;
}

html,body,textarea,div,ul,li { margin:0; padding:0; border:0; outline:0; }
html,body { height: 100%;}

body {
    display: flex;
    flex-direction: column;
}

.titlebar {
    -webkit-app-region: drag;
    background-color: lightGray;
}

.titlebar.dirty .dirtyIndicator {
    display: inline-block;
    background-color: darkorange;
    width: 10px; height: 10px;
    border-radius: 5px;
}

#errlog {
    color:red;
}

#chooseFile {
    position: absolute;
    right: 0px; top: 17px; /* HACK */
}

.container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

textarea {
    padding: 5px;
    resize: none;
}


/* Note list */
#noteList {
    overflow-y: auto;
    list-style: none;
    height: 200px;
    padding-top: 3px;
    padding-left: 3px;
}

li {
    padding-left: 5px;
}

li:hover,.selected {
    background-color: lightBlue;
}

i::before {
    content: '\2014';
    padding-left: 0.4em;
    padding-right: 0.1em;
}
i {
    color: #aaa;
    font-style: normal;
}

/* Snippets */

i b { color: #333; }



/*
 * Resizing
 */

.panel-flex {
    flex:1 1 auto;
}
.panel {
    border:thin solid gray;
    overflow-y:auto;
}

#dragbar, body.resizing * {
    cursor: row-resize !important;
}

#dragbar {
    background-color: lightGray;
    height:8px;
}
.indicator {
    width: 15px;
    height: 2px;
    margin: 2px auto;
    border-color: gray;
    border-style:solid;
    border-width: 1px 0 1px 0;
}