html,body,textarea,div,ul,li { margin:0; padding:0; border:0; outline:0; }
html,body { height: 100%;}

body {
    display: flex;
    flex-direction: column;
}

.titlebar {
    -webkit-app-region: drag;
    background-color: lightGray;
}

.titlebar.dirty .dirtyIndicator {
    display: inline-block;
    background-color: darkorange;
    width: 10px; height: 10px;
    border-radius: 5px;
}

button {
    position: absolute;
    right: 0px; top: 17px; /* HACK */
}

.container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

textarea {
    flex: 1 1 auto;
    padding: 5px;
    resize: none;
}


/* Note list */
ul {
    list-style: none;
    padding: 5px;
    border: thin solid gray;
}

li {
    padding-left: 5px;
    margin: 4px;
}

li:hover,.selected {
    background-color: lightBlue;
}

i::before {
    content: '\2014';
    padding-left: 0.4em;
    padding-right: 0.1em;
}
i {
    color: #aaa;
    font-style: normal;
}

