*, *:before, *:after {
    box-sizing: border-box;
}

html,body,textarea,div,ul,li { margin:0; padding:0; border:0; outline:0; }
html,body { height: 100%;}

body {
    display: flex;
    flex-direction: column;
}

.titlebar {
    -webkit-app-region: drag;
    background-color: lightGray;
}

.titlebar.dirty .dirtyIndicator {
    display: inline-block;
    background-color: darkorange;
    width: 10px; height: 10px;
    border-radius: 5px;
}

#search {
}

#errlog {
    position: absolute;
    z-index: 1;
    top: 30px; left: 30%;
    min-width: 20em;
    font-size: 120%;
    color: red;
    background: white;
}

#chooseFile {
    position: absolute;
    right: 0px; top: 17px; /* HACK */
    display: none;
}

#container {
    flex: 1;
    display: flex;
}

textarea {
    padding: 5px;
    resize: none;
}


/* Note list */
#noteList {
    list-style: none;
    overflow-x: hidden;
    width: 40%;
    padding-top: 3px;
    padding-left: 3px;
}
#noteList::-webkit-scrollbar { 
    display: none; 
}

li {
    padding-left: 5px;
    height: 4.2em;
    overflow: hidden;
    margin-top: 5px;
}

li:hover {
    background-color: lightCyan;
}
.selected {
    background-color: lightBlue !important;
}

/* Reset <q> <b> <i> tags */
q::before, q::after { content: none; }
i { font-style: normal; }

/* Title */
b { display:block; }

/* Summary */
i {
    display:block;
    color: #aaa;
}

/* Highlight */
q { color: blue; }


/*
 * Resizing
 */

.panel-flex {
    flex:1;
}
.panel {
    border:thin solid gray;
    overflow-y:auto;
}

#dragbar, body.resizing * {
    cursor: col-resize !important;
}

#dragbar {
    background-color: lightGray;
    width:8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicator {
    height: 15px;
    width: 4px;
    border-color: gray;
    border-style:solid;
    border-width: 0 1px 0 1px;
}